.footer-main {
  background-color: #010b1d;
  padding: 100px 0%;
}

.footer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
}

.foot-col {
  margin-bottom: 20px;
}

.foot-topic {
  color: var(--white);
  font-family: var(--font-family-solid);
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.foot-content {
  color: #868c98;
  font-family: var(--font-family-san-serif);
  font-size: 1rem;
  font-weight: 400;
}

.form {
  margin-top: 35px;
  width: 100%;
}

.form form {
  display: flex;
  flex-direction: row;
  height: 45px;
}

.footer-input {
  font-size: 1rem;
  padding-left: 6%;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  height: 45px;
  border: 0;
}

.footer-submit {
  background-color: var(--pink);
  color: var(--white);
  border: 0;
  border-radius: 0px 5px 5px 0px;
}

.footer-submit i {
  width: 40px;
}

@media all and (max-width: 554px) {
  .form input {
    width: 100%;
  }
}
